@charset "UTF-8";
body {
  max-width: 1250px;
  margin: auto;
}

div#body_div {
	margin: 0 .15em;
	background-color: #DFffff;
	padding-bottom: 100px;
	overflow-x: auto;
}

.hidden {
	display: none;
}

h4 {
	letter-spacing: 0.1em;
}

body, textarea {
	font-family: "맑은 고딕", Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.43;
}

div.para p {
	text-indent: 1.2em;
}

blockquote {
	color: crimson;
	margin-bottom: 1em;
	font-family: 'Courier New', Courier, monospace;	
	font-weight: bold;
	font-size: 1.1em;
}

#pageHeaderDiv {
	text-align: center;
}

#threeLinks {
	float: right;
}

.brown {
	color: #900C3F;
	font-weight: bold;
}

.boxed {
	border: 2px dashed navy;	
}

.last {
	margin-bottom: 1em;
}

.header_cell {
	background-color: #aFffff;
}

.col_header {
	text-align: center;
}

.no-wrap {
  clear: both;
}

.body_width {
	max-width: 1250px;
}

h4 {
	margin-top: 60px;
}

.subsection {
	padding-top: 100px;
	padding-left: 125px;
	font-size: 1.3em;
}

a#toTopL {
	position: fixed;
	top: 50%;
	left: 30px;
	z-index: 4;
}

a#toTopR {
	position: fixed;
	top: 50%;
	right: 30px;
	z-index: 4;
}

a#toBottomL {
	position: fixed;
	bottom: 50%;
	left: 30px;
	z-index: 4;
}

a#toBottomR {
	position: fixed;
	bottom: 50%;
	right: 30px;
	z-index: 4;
}

.number {
	text-align: right;
	white-space: nowrap;
	padding-right: 1.5em;
}

.w130 {
	width: 130px;
}

.para {
	margin: 0 2em;
	padding: 0.3em 1em 1em 1em;
	background-color: #f8ffff;
}
div.pull_right {
	float: right;
}

.usertype {
	font-size: 1.1em;
}

.typewriter {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.submitBtn {
	text-align: center;
}

#email {
	width: "40";
}

div#slogan_text {
	font-size: 1.3em;
	display: table;
	padding: 48px 0;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 55%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

table {
	border-collapse: collapse;
	margin: 0 auto;
	width: 67%;
}

th, td {
	border: 1px solid green;
	padding: 4px;
}

td {
	font-size: 0.9em;
}

th.col {
	text-align: center;
}

th.row {
	text-align: right;
}

textarea {
	width: 45em;
	height: 5em;
	margin: 0 0.3em;
}

tr th {
	width: 1%;
	white-space: nowrap;
}

div.container {
	padding: 0 1em;
	overflow: auto;
}

div.soapImg img {
	width: 100%;
}

div.soapImg {
	width: 50%;
	float: left;
	border:solid red 2px;
}

div.soapTxt {
	width: 50%;
	float: right;
}

.wideBox {
	width: "90";
}

.readonly {
	background-color: lightgray;
}
