div#soapDetailSection {
  display: flex;
  margin: 0 3em;
}

div#elevenImgs {
  position: relative;
  width: 55%;
  height: 0;
  padding-top: 55%;
}

div#bigImgDiv {
  border: 2px solid black;
}

div#soapDescDiv {
  width: 52%;
  height: 0;
  padding-top: 40%;
}

div.paddingDiv {
  flex: 1 1;
  min-width: 100%; /* was 77  */
}

div#bigImgDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div#bigImage {
  width: 100%;
}

div#descTab {
  left: 1%;
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;
}

div#descTxt {
  overflow: auto;
}

table#soapDesc textarea {
	width: 97%;	
	min-height: 170px;
}

table#soapDesc {
	width: 100%;
}

table#ingredients {
  border-collapse: collapse;
  display: block;
}

div#thumbs {
  height: 19%;
  width: 99%;
  position: absolute;
  bottom: 0;

  white-space: nowrap;
  overflow-x: auto;
  margin: -2 0;
  display: flex;
  align-items: center;
}

div.thumb {
  white-space: normal;
  margin-left: 5px;
	border: solid black 1px;
}

div.thumb, img.thumb {
	float: left;
	width: 90px;
	height: 75px;
}
