@charset "UTF-8";
div#soapDetailSection {
	margin: auto;
}

table#stock_price {
	overflow: auto;
}

table#sell_price_tab tr {
	padding: 5px 0;
}

table#sell_price_tab td {
	text-align: center;
	background-color: #DCFFD5;
	border: none;
}

a#toLeft {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
}

a#toRight {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 2;
}

td 
div.sbarHori {
	border: 1px solid red;
	overflow: auto;
}

td.mater_name {
	white-space: nowrap;
	text-align: right;
}

td.total {
	text-align: center;
}