@charset "UTF-8";
div#soapDetailSection {
	margin: auto;
}

div#descTab {
	min-width: 550px;	
}

table#soapDesc textarea {
	width: 470px;
	height: 120px;	
}

table#soapDesc {
	min-width: 300px;
}

table#stock_price {
	min-width: 535px;
	width: 67%;
	overflow: auto;
}

table#stock_price {
	min-width: 535px;
	width: 67%;
	overflow: auto;
}

table#sell_price_tab tr {
	padding: 5px 0;
}

table#sell_price_tab td {
	text-align: center;
	background-color: #DCFFD5;
	border: none;
}

td 
div.sbarHori {
	border: 1px solid red;
	overflow: auto;
}

td.mater_name {
	white-space: nowrap;
	text-align: right;
}

td.effe_stmt {
	min-width: 250px;
}

td.total {
	text-align: center;
}