@charset "UTF-8";

.dropbtn {
	background-color: #04AA6D;
	color: white;
	padding: 10px;
	font-size: 16px;
	border: none;
	width: 100%;
}

/* div#home {
	top: 6px;
} */

button#home {
	padding: 14px;
}

.homeBtn {
	background: url(/store/resources/images/home-24.png) no-repeat;
	cursor: pointer;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
	width: 16%;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

.dropdown:active .dropbtn {
	background-color: deeppink;
}

div#nav {
	width: 100%;
	text-align: center;
	max-height: 53px;
  position: fixed;
}
	
div.sticky {
  position: fixed;
  top: 0;
}	

div#nav, div#body_div {
	min-width: 880px;
}
