@charset "UTF-8";

.dropbtn {
	background-color: #04AA6D;
	color: white;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	border: none;
	min-width: 60px;
}

img.put-mid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: -2px;
  position: relative;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	width: 110px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 6px 8px;
	text-decoration: none;
	display: block;
	font-size: 0.8em;
}

.dropdown-content a:hover {
	background-color: #004000;
	color: ivory;
	font-weight: bold;
}

.dropdown:hover .dropdown-content {
	display: block;
	border: 2px solid darkgreen;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

.dropdown:active .dropbtn {
	background-color: deeppink;
}

div#navDiv {
	position: fixed;
	width: 96%;
	margin: 0 auto;
	max-width: 1250px;
}

div#navInner {
  margin: 0 auto;
  width: auto;
}

div.notice {
	padding-left: 0.5em;
	font-size: 0.7em;
	text-align: left;
	vertical-align: top;
}

td.notice {
	font-size: 14px;
	line-height: 0px;
	border-top: 2px solid hotpink;
}

div.sides {
	background-color: transparent;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

div.sides a {
	text-decoration: none;
}

table#navTab {
	width: auto;
	background-color: rgba(255, 255, 240, 0.5);
	border: 2px solid #DA80C2;
}

table#navTab td {
	padding: 0 3px;
	text-align: center;
	margin: 0 auto;
	min-width: 60px;
	background-color: rgba(255, 255, 240, 0.8);
}

table#navTab th, table#navTab td {
	border: 0;
}

