@charset "UTF-8";

.dropbtn {
	background-color: #04AA6D;
	color: white;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	border: none;
	width: 95px;
	height: 39px;
}

img.put-mid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: -2px;
  position: relative;
}

.dropdown {
	position: relative;
	display: inline-block;
	width: 95px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	width: 110px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 6px 8px;
	text-decoration: none;
	display: block;
	font-size: 0.8em;
}

.dropdown-content a:hover {
	background-color: #004000;
	color: ivory;
	font-weight: bold;
}

.dropdown:hover .dropdown-content {
	display: block;
	border: 2px solid darkgreen;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

.dropdown:active .dropbtn {
	background-color: deeppink;
}

div#nav {
	width: 96%;
	text-align: center;
  position: fixed;
  top: 2px;
  overflow-x: auto;
}

button#intro {
	font-size: 0.9em;
}

div.sides {
	background-color: transparent;
	font-size: 0.9em;
}

table#nav {
	width: auto;
}

table#nav td {
	padding: 2px 3px;
	text-align: center;
	width: 106px;
	margin: 0 auto;
	background-color: rgba(255, 255, 240, 0.8);
}
